doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="/javascripts/map.js")
    script(src="/javascripts/datasf.js")
  body
    block content



